p {
  font-weight:bold;
}
p.sample {
  font-family: "MS Gothic","Osaka-等幅",Osaka-mono, monospace;
  color:red;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  /* background-color: black;
  color: white; */
}

body {
  font-family: Arial,Meiryo, sans-serif;
}

h1 {
  color:white;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  background-color: lightgreen;
}
